/* nav css start */
/* brandname h1 start */
.brandname>a>h1{
    font-family: monospace;
    font-size: 32px;
    color:rgba(14, 13, 13, 0.89);   
    text-decoration: none;
    margin-top: 14%;
    margin-left: 65%;
}
.brandname>a{
    text-decoration: none;
}
/* brandname h1 css end */
/* menulist ul css start */
.menulist>ul{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin-left: 18%;
    font-size: 19px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
    margin-top: 4.5%;
    padding-right: 20px;
    cursor: pointer;
}
.menulist>ul>a{
    text-decoration: none;
}
.menulist>ul>a>li{
    color:rgba(36, 33, 33, 0.87);
    opacity: 0.9;
}
.menulist>ul>a>li:hover{
    color:#00c9b1;
}
.menulist>ul :first-child li{
    color:#00c9b1;
}
/* Menulist Div css End */
/* We Are Elnur Div css Start */
.WeAreElnur{
    margin-top: 18%;
    margin-left: 6%;
}
.WeAreElnur>h1{
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
    color:rgba(36, 33, 33, 0.87);
    margin-left: 18%;
    margin-top: 4%;
    letter-spacing: 1px;
    font-weight: 1;
}
.WeAreElnur>h2{
    font-weight: 1;
    font-size: 40px;
    margin-top: -14px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 18%;    
    color: rgba(17, 16, 16, 0.884);  
    letter-spacing: 2px; 
}
.WeAreElnur>h3{
    font-weight: 10;
    font-size: 18px;
    font-style: oblique;
    font-family: open 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgba(51, 47, 47, 0.561);
    margin-top: -24px;
    margin-left: 18%;
}
.aboutusspan{
    border: 1px solid #00c9b1;
    width: 28%;
    height: 42px;
    float: left;
    margin-left: 18%;
    text-align: center;
    line-height: 40px;
    color:white;
    background-color: #00c9b1;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    cursor: pointer;
    overflow: hidden;
    } 
.aboutusspan::before{
    content: "";
    border: 1px solid #00c9b1;
    background-color: white;
    margin-left: -180px;
    position: absolute;
    width: 112%;
    height: 42px; 
    z-index: -1;
    transition: 0.4s; 
    margin-top: -1px;  
}
.aboutusspan:hover::before{   
    margin-left: -36px;
} 
.aboutusspan:hover{
    color:#00c9b1;
} 
.contactusspan{
    border: 1px solid #00c9b1;
    width: 28%;
    height: 40px;
    float: left;
    margin-left: 5%;
    text-align: center;
    line-height: 40px;
    color:white;
    background-color: #00c9b1;
    overflow: hidden;
    position: relative;
    z-index: 1; 
    cursor: pointer;  
}
.contactusspan::before{
    content:attr(data-hover);
    border: 1px solid #00c9b1;
    margin-top: -44px;
    width: 100%;
    height: 42px;
    position: absolute;
    background-color: white;
    color: #00c9b1;
    margin-left: -29px; 
    z-index: -1;
    transition: 0.3s;  
}
.contactusspan:hover::before{ 
    margin-top: -1px;
}
.contactusspan:hover{
    color: #00c9b1; 
}
.WeAreElnur>a{
    text-decoration: none;
}
/* We Are Elnur Div css End */
/* radius animation start */
.radiusanimation{
    border:2px solid #00c9b1;
    width:26px;
    border-radius: 20px;
    height: 54px;
    position: absolute;
    margin-top: 7%;
    margin-left: 50%;
}
.radiusanimation>span{
    width: 7px;
    height: 7px;
    background-color: #00c9b1;
    border-radius: 50%;
    position: absolute;
    margin-left: 10px;
    margin-top: 4px;
    animation-name: circleaction;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
    animation-duration: 2s;
}
@keyframes circleaction{
    0%{
        margin-top: 8px;
    }
    
    75%{
        margin-top: 40px;
    }
    100%{
        margin-bottom: 8px;
        
    }
}
/* radius animation end*/
/* elnurfeatured class div start */
.allh1{
    font-size: 32px;
    font-weight: 5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 28%;
    color:rgba(29, 28, 28, 0.897);
    margin-top: 30px;
}
.lorem{
    font-size: 18px; 
    color: rgba(61, 60, 60, 0.863);
    margin-top: -10px;
    margin-left: 3%;
}
.intopspan{
    margin-left: 16%;
}
.linespan{
     border-bottom: 1.5px solid #00c9b1;
     width: 16%;
     margin-top: 10px;
     margin-left: 40%;
     position: absolute;
}
.rotatespan{
    border:1px solid #00c9b1;
    background-color: #00c9b1;
    width: 10px;
    height: 10px;
    position: absolute;
    transform: rotate(45deg);
    margin-left: 47%;
    margin-top: 5px;
}
/*  */
.allh2{
    margin-left: 26%;
    font-size: 20px;
    font-family: open -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 12%;
    font-weight: 50;
    color:rgba(27, 27, 27, 0.979);
}
.creativedesign{
    margin-left: 30%;
}
.branding{
    margin-left: 38%;
}
.allloremp{
    font-size: 12.5px;
    font-weight: 400;
    font-style: initial;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 14%;
    color:rgba(61, 60, 60, 0.863);
}
.spanfeatured{
    margin-left:20px;   
}
.secondspan{
    margin-left: 60px;
}
.iconspan{
    border: 1px solid black;
    width: 3.5%;
    height: 7%;
    position: absolute;
    margin-left: 10%;
    margin-top: -11%;
    background-color: rgb(17, 17, 17);
    border-radius: 3px;
}
.iconspan>i{
    color:white;
    margin-left: 2%;
    line-height: 50px;
    font-size: 24px;
}
.Elnurfeatured:hover{
    box-shadow: 0px 6px 10px 4px rgba(124, 122, 122, 0.13);
    transition-duration: 0.5s ease;   
}
.Elnurfeatured:hover .iconspan{
    background-color: #00c9b1;
}
.Elnurfeatured>span>i{
    margin-left: 10px;
}
/* elnurfeatured class div end*/
/* About Content Section Start  */
.first{
  margin-left: 0px;
}
.ipsum{
   margin-left: 0px;
}
.aboutcontenticondiv1{
    width: 84%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.abouticonspan{
    border: 1px solid #00c9b1;
    width: 45px;
    height: 45px;
    margin-right: 24%;
    background-color: #00c9b1;
}
.abouticonspan i{
    font-size: 30px;
    color: white;
    margin-top: 10px;
    margin-left: 4px;
}
.secondicon>i{
    margin-left: 10px;
 }
 .iconh2{
    font-weight: 120;
    color: rgba(61, 60, 60, 0.863);
    position: absolute;
    margin-top: -25px;
    margin-left: 4%;
    font-size: 18px;
 }
/*  */
.icondivs2{
    width:250px;
    margin-top: 30px;
    justify-content: space-between;
    cursor: pointer;
}

.abouticonspansocial{
    border:2px solid rgba(26, 25, 25, 0.904);
    width: 40px;
    height: 38px;
}
.abouticonspansocial>i{
    font-size: 17px;
    margin-left: 13px;
    margin-top: 10px;
}
.abouticonspansocial:first-child i{
    margin-left: 15px;
}
.abouticonspansocial:hover{
    background-color: #00c9b1;
}
.abouticonspansocial>i:hover{
    color:white;
    transition-delay: 0.8s;
    transition: 0.5s;
}
/*  */
.abtn{
    width: 20%;
    margin-left: 0px;
    margin-top: 20px;
    cursor: pointer;
}
.abtn::before{
    width:140px;
    margin-left: -180px;
}
/* div2 */
.second{
    margin-left: 0px;
    font-size: 28px; 
}
.ourworking{
    margin-top: -10px;
 
}
/* Progress Bar Area Start */
.progressbar{
    width:520px;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;

}
.allh3{
    font-weight: 100;
    font-size: 16px;

}
.progressbar>li{
    list-style: none;

}
.progressdiv{
    width:520px;
    height: 14px;
    background-color: rgba(41, 41, 41, 0.199);
    animation-name: progreslinebottom;
    animation-duration: 0.8s;
    transition: 2s;
    animation-iteration-count: 1;
    animation-timing-function:linear;
    animation-direction: alternate; 

}
@keyframes progreslinebottom{
    0%   {left:0px; top:60px; width:150px;}
  50%  {left:0px; top:60px; width:200px;}
  100% {left:0px; top:60px; width:500px;}
}
.progresspan{
    width:460px;
    height:14px;
    background-color: #00c9b1;
    animation-name: progresline;
    animation-duration: 1.2s;
    transition: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function:ease-out;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation-direction: alternate; 
    display:inline-block;
    animation-play-state: running;
}
@keyframes progresline{
    0%   {left:0px; top:57px; width:0px;}
  100% {left:0px; top:57px; width:460px;}
}
/*  */
.progresspan2{
    width:480px;
    height:14px;
    background-color: #00c9b1;
    animation-name: progresstwo;
    animation-duration: 1.6s;
    transition: 1.7s;
    animation-iteration-count: 1;
    animation-timing-function:linear;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation-direction: alternate; 
    display:inline-block;      
}
@keyframes progresstwo{
    0%   {left:0px; top:57px; width:0px;} 
  100% {left:0px; top:57px; width:480px;}
}
/*  */
.progspanone{
    width:440px;
    height:14px;
    transition: 1.9s;
    animation-duration: 1.7s;
}
@keyframes progresstwo{
    0%   {left:0px; top:57px; width:0px;}
    
  100% {left:0px; top:57px; width:440px;}
}
/*  */
.progspantwo{
    width:420px;
    height:14px;
    transition: 2s;
    animation-duration: 1.9s;
}
@keyframes progresstwo{
    0%   {left:0px; top:57px; width:0px;}
    
  100% {left:0px; top:57px; width:420px;}
}
/* About Content Section End */
/* What We Do Section Area Start */
.whatwedoh1{
    margin-left: 190px;
}
.whatwedospanbottom{
    border-bottom: 1.5px solid #00c9b1;
    width:100px;
}
.design{
    margin-left: 130px;
    margin-top: 90px;
}
.appsh2{
    margin-left: 140px;
}
.developmenth2{
    margin-left: 110px;
}
.whatwedosixdivs>i{
    font-size: 35px;
    margin-left: 152px;
    margin-top: 40px;
    color:#00c9b1;
    position: absolute;
}
.whatwedosixdivs:hover{
    transform: translateY(-10px);
    transition: 0.5s ease 0s;
}
.whatwedosixdivs:hover i{
    transform: translateY(-10px);
    transition: 0.8s;
}
/* What We Do Section Area End */
/* Our Recent Works Area Start */
.ourrecentworkh1{
    margin-left: 150px;
}
.alllist{
    height: 55%;
    width: 5%;
    margin-left: 10px;
    background-color: rgba(221, 221, 221, 0.767);
    border-radius: 2px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
}
.alllist::before{
    content: attr(data-hover);
    width: 50%;
    height: 28px;
    position: absolute;
    background-color: #00c9b1;
    margin-top: -30px;
    transition: 0.4s ease-in-out; 
}
.alllist:hover::before{
    margin-top: 0px;
}
.alllist:hover{
    color:white;
}
/*  */
.alllist::after{
    content: attr(data-hover);
    width: 50%;
    height: 35px;
    position: absolute;
    background-color: #00c9b1;
    margin-left: 50%;
    margin-top: -15px;
    transition: 0.4s ease-in-out; 
    z-index: -1;
}
.alllist:hover::after{
    margin-top: -45px;
}
.listh3{
    font-size: 18px;
    margin-top: 4px;
    margin-left: 25px;
    position: relative;
}
.longlists{
    width: 7%;
}
.bluearea{
    background-color: #00c9b1; 
}
.listwhiteh3{
    color:white;
}
/*  */
.picturedivs>img{
    width:100%;
    height: 100%;
}
.picturedivs:hover img{
    transform: scale(1.1);
    transition: 0.8s;
}
.allh4{
    color: white;
    font-size: 22px;
    margin-left: 110px;
    margin-top: -120px;
    position: absolute;
    z-index: -1;
}
.picturedivs:hover .allh4{
    z-index: 1;
    transition: all, 0.5s, ease-in-out;
    
}
.allh5{
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-left: 135px;
    margin-top: -90px;
    position: absolute;
    z-index: -1;
}
.picturedivs:hover .allh5{
    z-index: 1;
    transition: all, 1s, ease-in-out;
}
.picturedivs>i{
    color: white;
    font-size: 25px;
    margin-left: 165px;
    margin-top: -170px;
    position: absolute;
    z-index: -1;
}
.picturedivs:hover i{
    z-index: 1;
    transition: all, 0.5s, ease-in-out;
    font-size: 52px;
}
.picturedivs>i:hover{
    transform: translateY(-10px);
    transition: all 0.6s;
}
.picturedivs::before{ 
    content: attr(data-hover);
    width: 16%;
    height: 20%;
    position: absolute;
    background-color: #00c9b1;
    opacity: 0;
    margin-left: 70px;
    margin-top: 50px;
    transition: all 0.4s ease;
}
.picturedivs:hover::before{
    opacity: 0.8;
    z-index: 1;
    transform: scale(1.4);
}
/*  */
.wiewmore{
    width:120px;
    margin-top: 20px;
    height: 40px;
}
.viewmorediv{
    height: 80px;
}
/*  */
.numberlist{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 300px;
}
.numberlistdiv{
    width: 260px;
    height: 160px;
    margin: 20px 20px;
    overflow: hidden;
    
}
.numberlistdiv::before{
    content: "";
    background-color: rgba(255, 255, 255, 0.623);
    width: 238px;
    height: 140px; 
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
}
.numberlistdiv>i{
    position: absolute;
    transform: translate(110px, -170px);
    font-size: 35px;
    color: #00c9b1;
}
.numbersindiv{
    font-size: 22px;
    position: absolute;
    font-weight: 200;
    font-size: 40px;
    transform: translate(98px, -160px);
    color:rgba(0, 0, 0, 0.918);
}
.numberlistparagraph{
    font-size: 17px;
    color:rgba(0, 0, 0, 0.842);
    position: absolute;
    transform: translate(65px, -98px);
}
.nlptwo{
   margin-left: 15px;
}
.nlpthree{
    margin-left: 30px;
}
.nlpfour{
    margin-left: 10px;
}
/*  Our Recent Works Css Area End*/
/* Our Experts Area Start */
.ourexpertsallpicture{
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.ourexpertspicturedivs{
    border-bottom: 2px solid #00c9b1;
    width: 270px;
    height: 350px;
    margin-left: 15px;
    margin-right: 15px;
}
.ourexpertspicturedivs::before{
    content: "";
    position: absolute;
    background-color:#21252996;
    width:20px;
    height: 20px;
    z-index: -1;
    transition: all 0.6s;
}
.ourexpertspicturedivs:hover::before {
    width:270px;
    height: 280px;
    z-index: 1;  
}
.ourexpertspicturedivs::after{
    content: "";
    position: absolute;
    transform: translate(7px ,-54px);
    border-top: 50px solid transparent;
    border-right: 262px solid white;
    transition: all 0.4s ease 0.03s; 
}
.ourexpertspicturedivs:hover::after{
    visibility: hidden;
}
.facebookexpert{ 
    border: 1px solid white;
    font-size: 15px;
    color: white;
    transform: translate(25px ,-170px);
    padding: 12px 16px;
    position: absolute;
    z-index: -1;
    box-sizing: border-box;
    transition: all 0.5s ease;
    display: inline-block;
} 
.ourexpertspicturedivs:hover .facebookexpert{
    z-index: 1;
}
.facebookexpert:hover{
    background-color: #00c9b1;
    border:1px solid #00c9b1;
}
.ourexpertspicturedivs:hover .twitter{
    margin-left: 60px;
    padding: 12px 12px;
}
.ourexpertspicturedivs:hover .instagram{
    margin-left: 120px;
    padding: 12px 12px;
}
.ourexpertspicturedivs:hover .pinerest{
    margin-left: 180px;
    padding: 12px 12px;
}
.allh6{
    font-size: 22px;
    margin-top: 5px;
    margin-left: 70px;
    color: #2e2e2e;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    position: absolute;
}
.ourexpertspicturedivs>p{
    font-weight: 200;
    color:#00c9b1;
    position: absolute;
    margin: 35px 100px;
}
/* Our Experts Area End */
/* What Clients Say Area Start */
.whatclientsayalldiv{
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.whatclientsaydivs{
    border: 1px solid rgba(129, 126, 126, 0.13);
    border-left: 1.5px solid rgba(129, 126, 126, 0.178);
    border-right: 1.5px solid rgba(129, 126, 126, 0.178);
    box-shadow: 0px 2px 2px 2px rgba(129, 126, 126, 0.103);
    height: 350px;
    width: 350px;
    margin:15px;
    background-color: white;
}
.programmersinfo{
    margin-left: 50px;
    color:rgba(71, 70, 70, 0.466);
    font-style: italic;
}
.programmersinfo>span{
    margin-left: -20px;
}
.programmersinfo>i{
    margin-left: 50px;
}
.whatclientsaydivs>h1{
    font-size: 19px;
    color: #00c9b1;
    font-weight: 200;
    margin: 30px 135px;
}
.boss{
    margin-left: 122px;
}
.boss>span{
    margin-left: -25px;
}
.apple{
    margin-left: 140px;
}
/* What Clients Say Area End */ 
/* Symbols Section Area Start */
.symbolspicture{
    width: 130px;
    height: 100px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
}
.symbols:hover .imagesymbols{
    transform: translateX(-1550px);      
}
.imagesymbols{
  transition: all 16s ease;
}
/* Symbols Section Area End */
/*  Choose License Type Area Css Start */
.chooselicensh1{
    margin-left: 130px;
}
.chooselicensedivs{
    border: 0.5px solid rgba(129, 126, 126, 0.13);
    box-shadow: 0px 2px 2px 2px rgba(129, 126, 126, 0.062);
    background-color: white;
    width: 350px;
    height: 400px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
}
.chooselicensedivs:hover{
    background-color: #00c9b1;
    color:white;
}
.chooselicensedivs:hover .checkicon{
    color:white;
}
.chooselicensedivs:hover .checkover{
    color:white;
}
.checkicon{
    position: absolute;
    margin-left: 90px;
    margin-top: -30px;
    font-size: 10px;
    color:#00c9b1;
}
.checksecond{
    margin-left: 95px;
}
.checkover{
    position: absolute;
    margin-left: 110px;
    font-size: 10px;
    margin-top: -35px;
    color:#00c9b1;
}
.checklast{
    margin-top: -40px;
    margin-left: 120px;
}
.whitecolorcheck{
    color:white;
}
.chooselicensedivs:hover .getstartedbutton{
    border: 1px solid white;
}
.chooselicensedivs>h6{
    font-size: 18px;
    margin-left: 43%;
}
.chooselicensedivs>h1{
    font-size: 45px;
    margin-left: 40%;
    font-weight: 300;
    margin-top: -20px;
}
.chooselicensedivs>p{
    margin-left: 40%;
    margin-top: -40px;
}
.disc{
    font-size: 16px;
    font-weight: 300;
}
.chooselicensedivs>h2{
    margin-top: 20px;
    margin-left: 31%;
}
.chooselicensedivs>h3{
    margin-top: 5px;
    margin-left: 33%;
}
.chooselicensedivs>h4{
    margin-top: 5px;
    margin-left: 37%;
}
.chooselicensedivs>h5{
    margin-top: -5px;
    margin-left: 40%;
}
.getstartedbutton{
    margin-left: 110px;
    margin-top: 2px;
    font-size: 15px;
}
/*  */
.chooselicensedivssecond{
    background-color: #00c9b1;
    color:white;
}
.chooselicensedivssecond>a{
    border: 1px solid white;
    padding: 9.5px 25px;
    background-color: white;
    text-decoration: none;
    color:#00c9b1;
    margin-left: 110px;
    position: absolute;
}
.professional{
    transform: translateX(-25px);
}
/*  Choose License Type Area Css End*/
/* Latest Posts Area Css Start */
.latestpostalldivs{
    height: 500px;
    width: 1200px;
    margin-left: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.latestpostimagedivs{
    border: 0.5px solid rgba(129, 126, 126, 0.514);
    width:380px;
    height: 480px;
}
.latestpostimagedivs:hover{
    box-shadow: 0px 12px 15px 5px rgba(128, 128, 128, 0.212);
}
.latestpostimagedivs>h1{
    margin-left: 20px;
    font-weight: 600;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.89);
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.adress{
    color:#00c9b1;
    margin-left: 20px;
    cursor: pointer;
}
.latestpostimagedivs>a{
    text-decoration: none;
    color: rgba(53, 51, 51, 0.747);
    margin-left: 5px;
    cursor: pointer;
}
.latestpostimagedivs>p{
    color: rgba(44, 43, 43, 0.747);
    margin-left: 20px;
}
.readmore{
    font-size: 14px;
    transform: translateX(220px);
    position: absolute;
    color: rgba(0, 0, 0, 0.966);
    text-decoration: none;
    cursor: pointer;
}
/* Footer Area Start */
.footerh1{
    font-size: 26px;
}
.marsicon{
    color: #00c9b1;
    font-size: 20px;
    margin-left: 60px;
}
.footh2{
    font-size: 18px;
    margin-top: 0px;
    margin-left: 55px;
}
address{
    margin-left: 55px;
    position: absolute;
}
.marsiconsecond{
    margin-top: 0px;
    margin-left: 60px;
}

.smalldivs{
    width: 250px;
    height: 150px;
    margin-left: 95px;
}
.phone{
    font-size: 18px;
}
.smalldivs>span{
    margin-top: -10px;
    margin-left: 55px;
    position: absolute;
}
.smalldivs>span>p{
    margin-top: 0px;
}
.email{
    margin-left: 55px;
    color:rgba(54, 54, 54, 0.774);
}
.email>span>p{
    margin-left: 55px;
    margin-top: 0px;
}
/*  */
.footerh1second{
    margin-left: 80px;
}

.inputtext{
    width: 290px;
    height: 40px;
    font-size: 15px;
    border: 0.5px solid rgba(129, 126, 126, 0.514);
    margin-left: 80px;
    padding-left: 5px;
    margin-right: -60px;
    margin-top: 30px;
}
.inputsubject{
    margin-top: 20px;
}
.textarea{
    margin-left: 775px;
    margin-top: 20px;
    transform: translateX(-694px);
    width: 200px;
    height: 200px;
    display: inline-block;
}
.sendmessage{
    width: 14%;
    margin-top: 10px;
    margin-left: 80px;
    display: inline-block;
}
.inovertemplate{
    height: 80px;
    width: 500px;
}
.footmenu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    margin-top: 30px;
}
.footmenu>li:hover{
    color: #00c9b1;
}
.footmenu>li{
    list-style-type: none;
    margin-left: 10px;
    color:black;
}
small{
    position: absolute;
    margin-top: 35px;
}
.overicons{
    border: 2px solid rgba(0, 0, 0, 0.856);
    padding: 10px 12px;
    margin-left: 10px;
}
.overicons:hover{
    background-color: #00c9b1;
    color:white;
    cursor: pointer;
}
.facebookover{
    padding:10px 17px;
}